<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Responsive Admin</title>

    <partial name="Partial/_Styles"/>

    @await RenderSectionAsync("Styles", false)
</head>
<body>
    <div id="wrapper">
        <partial name="Partial/_Navigation"/>

        <div id="page-wrapper">
            <div id="page-inner">
                @RenderBody()
            </div>
        </div>
    </div>

    <partial name="Partial/_Footer"/>

    <partial name="Partial/_Scripts"/>

    @await RenderSectionAsync("Scripts", false)
</body>
</html>
