@using WebStore.Domain.Entities.Identity
 <div class="shop-menu pull-right">
     <ul class="nav navbar-nav">
         @if (User.IsInRole(Role.Administrators))
         {
             <li>
                 <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                     <i class="fa fa-keyboard-o"></i> Админка
                 </a>
             </li>
         }
         <li>
             <a asp-controller="UserProfile" asp-action="Index">
                 <i class="fa fa-user"></i> @User.Identity!.Name
             </a>
         </li>
         <li><a asp-controller="Cart" asp-action="Index" id="cart-container"><vc:cart/></a></li>
         <li><a asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out"></i> Выход</a></li>
     </ul>
</div>