@{
    ViewData["Title"] = "Регистрация";
}

<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>Регистрация нового пользователя</h2>

                    <form>
                        <input type="text" placeholder="Логин"/>
                        <input type="password" placeholder="Пароль"/>
                        <input type="password" placeholder="Подтверждение пароля"/>
                        <button type="submit" class="btn btn-default">Зарегистрироваться</button>
                    </form>

                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->