@using WebStore.Domain.Entities.Identity
 <div class="shop-menu pull-right">
     <ul class="nav navbar-nav">
         @if (User.IsInRole(Role.Administrators))
         {
             <li><a href="#"><i class="fa fa-keyboard-o"></i> Админка</a></li>
         }
         <li><a href="#"><i class="fa fa-user"></i> @User.Identity!.Name</a></li>
         <li><a asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-cart"></i> Корзина</a></li>
         <li><a asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out"></i> Выход</a></li>
     </ul>
</div>