<div class="mainmenu pull-left">
    <ul class="nav navbar-nav collapse navbar-collapse">
        <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
        <li class="dropdown">
            <a  ws-is-active-route ws-ignore-action asp-controller="Catalog" asp-action="Index">Магазин<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a ws-is-active-route asp-controller="Catalog" asp-action="Index">Каталог</a></li>
            </ul>
        </li> 
        <li class="dropdown">
            <a  ws-is-active-route ws-ignore-action asp-controller="Blogs" asp-action="Index">Блог<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a ws-is-active-route asp-controller="Blogs" asp-action="Index">Список блогов</a></li>
                <li><a ws-is-active-route asp-controller="Blogs" asp-action="Blog">Блог магазина</a></li>
            </ul>
        </li> 
        <li><a ws-is-active-route asp-controller="Home" asp-action="Error404">404</a></li>
        <li><a ws-is-active-route asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
        <li><a asp-controller="WebAPI" asp-action="Index" class="@IsActive("WebAPI")">WebAPI</a></li>
        <li><a ws-is-active-route asp-controller="AjaxTest" asp-action="Index">AJAX</a></li>
    </ul>
</div>

@functions{

    string? IsActive(string Controller, string Action = "Index") =>
        Equals(ViewContext.RouteData.Values["controller"], Controller) &&
        Equals(ViewContext.RouteData.Values["action"], Action)
            ? "active"
            : null;

}